<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>company</h4>
        <ul>
          <li><a href="#">about us</a></li>
          <li><a href="#">our services</a></li>
          <li><a href="#">privacy policy</a></li>
          <li><a href="#">affiliate program</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Help</h4>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">returns</a></li>
          <li><a href="#">order status</a></li>
          <li><a href="#">payment options</a></li>
        </ul>
      </div>
      
      <div class="footer-col">
        <h4>contacts</h4>
        <ul>
          <li><a class="fa fa-phone">  (+216) 54393320</a> </li>
          <li><a class="fa fa-envelope">   dreams_adventure@gmail.com</a> </li>
          <li><a class="fa fa-map-marker">   15 Les berges du lac , Ariana,tunis</a> </li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <h3 >&copy; 2023   Let's view | All Rights Reserved </h3>

      </div>
    </div>
  </div>
</footer>
