<br>
<br>
<div class="container">
    <div class="row">
       
            
              <div class="side">
                <h1>Contact us</h1>
                <p>
                  <textarea placeholder="Your message"></textarea>
                </p>
              </div>
              <div class="side">
                <p>
                  <input type="text" placeholder="Your name" >
                </p>
                <p>
                  <input type="email" placeholder="Your email" >
                </p>
                <p>
                  <button id="sendLetter" routerlink="/src/app/verify-email">Send</button>
                </p>
              </div>
            
            <div class="envelope front"></div>
            <div class="envelope back"></div>
          </div>
          <p class="result-message centered">Thank you for your message</p>


    
</div>
<br>
<br>

