<!--<div class="content d-flex justify-content-end align-items-start">
  <div>
    <a routerLink="menu">ORDER NOW <i class="bi bi-arrow-right"></i></a>
    <h1 class="mb-5">Just Made For You</h1>
    <a routerLink="menu" class="mb-5">Order Now <i class="bi bi-arrow-right"></i></a>
  </div>

</div>-->
<div class="banner">
  <div class="content ">
    <br>
    <br>
    <br>
    <h1 class="mb-5"></h1>
  </div>
</div>


































  <!-- steps  -->
  <div class="container mt-5 mb-5">
    <div class="row">
      <h1 class="text-center  tt"> Our Services <span class="ttt"> </span></h1>
      <br>
    
    </div>
    <div class="row">

      <!-- Full-width images with number and caption text -->
      <div class="mySlides fade">
        <div class="numbertext">1 / 3</div>
        <img src="/src/assets/product-details/adventure.png" style="width:100%">
        <div class="text">Caption Text</div>
      </div>
    
      <div class="mySlides fade">
        <div class="numbertext">2 / 3</div>
        <img src="/src/assets/product-details/pinkkk.webp" style="width:100%">
        <div class="text">Caption Two</div>
      </div>
    
      <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img src="/src/assets/product-details/v546batch3-mynt-34-badgewatercolor_1.jpg" style="width:100%">
        <div class="text">Caption Three</div>
      </div>
    
      
    </div>
    <br>
    
    <!-- The dots/circles -->
    <div style="text-align:center">
    
    </div>
    <br>
    <div class="row">
     <div class="card card-body" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Reservation</h5>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        

      </div>
      <div class="card card-body" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Mangement</h5>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        

      </div>
      <div class="col-md-3">
        <div class="card card-body" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Timing</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        
      </div>
     
    </div>


    
      
    
    
    <div class="container-fluid py-5">
      <div class="container pt-5 pb-3">
          <div class="text-center mb-3 pb-3">
              <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Destination</h6>
              <h1>Explore Top Destination</h1>
          </div>
          <div class="row">
            <div class="card" style="width: 18rem;">
              <div class="card">
                <h5 class="card-title">Bali</h5>
                <p class="card-text"></p>
                <a href="#" class="btn btn-primary">Visit</a>
              </div>
              
      
            </div>
            <div class="card" style="width: 18rem;">
              <div class="card">
                <h5 class="card-title">Turkey</h5>
                <p class="card-text"></p>
                <a href="#" class="btn btn-primary">Visit</a>
              </div>
              
      
            </div>
            <div class="col-md-3">
              <div class="card" style="width: 18rem;">
                <div class="card">
                  <h5 class="card-title">Tunisie</h5>
                  <p class="card-text"></p>
                  <a href="#" class="btn btn-primary">Visit</a>
                </div>
              </div>
              
            </div>
            
           
          </div>
      
      </div>
      <div class="row">
        <div class="card" style="width: 18rem;">
           <div class="card">
             <h5 class="card-title">India</h5>
             <p class="card-text"></p>
             <a href="#" class="btn btn-primary">Visit</a>
           </div>
           
   
         </div>
         <div class="card " style="width: 18rem;">
           <div class="card">
             <h5 class="card-title">Tialande</h5>
             <p class="card-text"></p>
             <a href="#" class="btn btn-primary">Visit</a>
           </div>
           
   
         </div>
         <div class="col-md-3">
           <div class="card" style="width: 18rem;">
             <div class="card">
               <h5 class="card-title">Norway</h5>
               <p class="card-text"></p>
               <a href="#" class="btn btn-primary">Visit</a>
             </div>
           </div>
           
         </div>
        
       </div>
   
  </div>
  
    
    
  </div>




